<?xml version= "1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing GitHubs">
    <test name="Regression">
        <classes>
            <class name="tests.IssuePageTest">
                <methods>
                    <include name="checkInitValueOfInputSearch"></include>
                    <include name="checkValueOfInputSearchOnAssignedTab"></include>
                    <!--  <exclude name="thirdTestCase"></exclude> -->
                </methods>
            </class>
        </classes>
    </test> <!--  Test  -->
</suite> <!--  Suite  -->